{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Ken Oyugi</title>
    <!-- Custom CSS -->
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/Potrait-C.jpg' %}" alt="Profile Picture">
                    <br>
                    <h3>Ken Oyugi</h3>
                    <p>Information Scientist</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100">
                    <h4>About Me</h4>
                    <br>
                    <p>I am a 22 year old Information Scientist from Nairobi, Kenya. I am currently at my final year at the
                        Technical University of Kenya, where I am studying a Bachelor of Science in Information Science.
                        I am passionate about books, libraries and technology, and I am eager to contribute my skills
                        and knowledge to these fields.
                    </p>
                    <h4>Contact Details</h4>
                    <br>
                    <ul class="social-links">
                        <li><a href="mailto:koyugi02@gmail.com"><img class="social" src="{% static 'images/Gmail.png' %}" alt="Email"></a></li>
                        <li><a href="https://www.facebook.com/ken.oyugi.56"><img class="social" src="{% static 'images/Facebook.png' %}" alt="Facebook"></a></li>
                        <li><a href="https://www.instagram.com/oyugi_ken/"><img class="social" src="{% static 'images/Instagram.png' %}" alt="Instagram"></a></li>
                        <li><a href="https://twitter.com/koyugi02"><img class="social" src="{% static 'images/X.png' %}" alt="X"></a></li>
                        <li><a href="https://www.linkedin.com/in/ken-oyugi-985762280"><img class="social" src="{% static 'images/LinkedIn.png' %}" alt="LinkedIn"></a></li>
                        <li><a href="https://github.com/Kenoyugi5"><img class="social" src="{% static 'images/GitHub.jpg' %}" alt="GitHub"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <h4>Skills</h4>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>Technical Skills</h5>
                    <br>
                    <ol class="technical-skills">
                        <li>Python</li>
                        <li>Django</li>
                        <li>Bootstrap</li>
                        <li>Html and CSS</li>
                    </ol>
                    <br>
                    <h5>Soft Skills</h5>
                    <ol class="soft-skills">
                        <li>Communication</li>
                        <li>Critical and Creative Thinking</li>
                        <li>Creativity</li>
                        <li>Intuition</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>Information Science Skills</h5>
                    <ol class="information-science-skills">
                        <li>Operating Systems</li>
                        <li>Cataloguing</li>
                        <li>Preservation and Conservation of Information Materials</li>
                        <li>Classification</li>
                        <li>Systems Analysis and Design</li>
                        <li>Management of Information Systems</li>
                    </ol>
                    <br>
                    <h5>Languages</h5>
                    <ol class="languages">
                        <li>English</li>
                        <li>French (A2)</li>
                        <li>Swahili</li>
                    </ol>
                </div>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h4>Projects</h4>
                    <br>
                    <h5>1. Transport Management System for Strathmore School</h5>
                    <ol>
                        <li>Developed a comprehensive transport management system using Django
                            to digitize existing processes.</li>
                        <li>Implemented features for route planning, scheduling, and tracking.</li>
                        <li>Overcame challenges such as data integration and user interface design
                            to deliver an efficient solution.
                        </li>
                    </ol>
                    <a href="https://github.com/Kenoyugi5/My-portfolio.git">Available on GitHub</a>
                    <br>
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body h-100">
                    <h4>Work Experience</h4>
                    <br>
                    <h5>1. Bookshop and Administrative Assistant</h5>
                    <h6>Strathmore School - 09/2022 - 01/2023</h6>
                    <p>Aid to the bookshop clerk. Responsible for arranging the bookshop,
                        collecting and arranging orders to be invoiced, packaging of paid
                        orders and improving the overall customer experience.
                    </p>
                    <h5>2. Data Entry</h5>
                    <h6>Media Max(K24) - 08/2022</h6>
                    <p>Download election results for a polling station and transfer the results
                        of each candidate to Media Max's database to tally the number of total votes.
                    </p>
                    <br>
                    <h5>3. Bookshop assistant</h5>
                    <h6>Strathmore School - 12/2021 - 01/2022</h6>
                    <br>
                    <h5>Administrative assistant</h5>
                    <h6>Strathmore School - 01/2020 - 09/2022</h6>
                    <p>Record keeping and providing assistance to the staff when required.</p>
                    <p>Zoom administrator for form 2 online classes during the covid period.</p>
                </div>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body h-100">
                    <h4>Personal Interests and Goals</h4>
                    <br>
                    <p>I am deeply interested in leveraging technology to enhance library services and promote literacy.
                        My goal is to pursue a career where I can combine my passion for information science with my
                        technical skills to make a meaningful impact in the any field related to books, libraries, technology
                        and society as a whole.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>